/* Modified from Dan Powell's design */

.counter {
  font-size: 1.35rem;
  color: #4183D7;
}

*, :after, :before {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}

.btn.striped-shadow.blue span {
  border-color: #4183D7;
  background: white;
  color: #4183D7;
}

.btn {
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 0;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
}

.btn {
  width: 155px;
  height: 48px;
  line-height: 38px;
}

.btn.striped-shadow.blue:after, .btn.striped-shadow.blue:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #4183D7 5px,
    #4183D7 10px,
    transparent 10px
  );
}

.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

.btn.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}

.btn.striped-shadow:after, .btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 0;
}

.btn.striped-shadow:hover:after, .btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}
